.content-container {
    position: relative; /* Ensure the overlay is positioned relative to this container */
    background-image: url('../images/content/meeting.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff; /* Change text color to match your design */
    padding: 50px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(67, 66, 66, 0.5); /* Adjust the alpha value (0.5) to control the overlay transparency */
    backdrop-filter: blur(4px); /* Adjust the blur value as needed */
    -webkit-backdrop-filter: blur(2px);
    opacity: 5;
  }
  
  
  .content-cards {
    /* Add styles for your content title */
    font-size: 24px;
    font-weight: bold;
  }
  
  .content-container p {
    /* Add styles for your content text */
    font-size: 18px;
    line-height: 1.5;
  }
  